:root {
  --clr-text: #fff;
  --clr-bg-dark: #242424;
  --clr-bg-light: #3b3b3b;
  --clr-accent: #ff7600;
  --skintone-color: #de9b72;
  --dark-color: #3a3d3e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 2;
  /* margin: 6.4rem auto; */
  color: var(--clr-text);

  /* margin: 0; */
  /* overflow: hidden; */
}

.go-up {
}

.icon-up {
  border: 0;
  /* background: none; */
  position: fixed;
  /* stroke: white; */
  right: 0;
  bottom: 0;
  margin: 4.8rem;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  border-radius: 50%;
  display: none;
}

.icon-up:hover {
  stroke: #fff;
  fill: #000;
  /* fill: #fff;
  stroke: #000; */
  transition: ease-in-out 0.3s;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3b3b3b;
  padding: 1.2em;
  /* background-image: linear-gradient(-45deg, #583e26, #a78b71, #9c4a1a); */
  background-image: linear-gradient(-45deg, #ad8b73, #ceab93, #e3caa5, #fffbe9);
}

.menu-btns {
  display: flex;
  gap: 1.2em;
  margin: 1.2em;
}

.nav__link {
  display: inline-block;
  font-size: 1.4rem;
  width: 100%;
  max-width: 7.2rem;
  text-align: center;
  padding: 0.2em 0.4em;
  /* background-color: var(--clr-bg-dark); */
  text-decoration: none;
  /* color: var(--clr-accent); */
  border: 1px solid white;
  color: var(--clr-text);
  text-transform: capitalize;
}

.nav__link:hover,
.nav__link:active {
  background-color: white;
  color: var(--clr-bg-dark);
  transition: ease-in-out 0.3s;
}

.logo {
  width: 100%;
  max-width: 6rem;
}

.logo img {
  width: 100%;
  border-radius: 0;
}

main {
  /* filter: blur(4px); */
  /* background-color: var(--clr-accent); */
  position: relative;
  min-height: calc(100vh - 8rem);
  display: grid;
  place-items: center;
  padding: 4rem 2rem;
  background-size: cover;
  font-weight: 600;
  color: var(--clr-text);
  /*
  background-repeat: no-repeat; */
  /* padding: 2.4rem 1.2rem; */
}

main::before,
section::before {
  background-image: url(background.jpg);
  filter: blur(4px);
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background-size: cover;
  /* opacity: 0.3; */
  /* background-blend-mode: screen; */
  /* filter: blur(4px); */
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: justify;
  gap: 4.8em;
  width: 100%;
  /* max-width: 48rem; */
  max-width: 48rem;

  /* margin-top: 9.6rem; */
  /* padding: 12rem 2.4rem; */
  color: #3b3b3b;
}

.main-header {
  font-size: 3.6rem;
  text-transform: capitalize;
  color: #3b3b3b;
}

.main-description {
  font-size: 1.6rem;
}

.btn {
  font-size: 1.2rem;
  border: 1px solid white;
  color: var(--clr-text);
  text-transform: capitalize;
  background: 0;
  padding: 1em 2em;
  cursor: pointer;
  transform: transition;
  text-decoration: none;
}

.btn:hover,
.btn:active {
  background-color: white;
  color: var(--clr-bg-dark);
  transition: ease-in-out 0.3s;
}

/* .img-bg {
  width: 100%;
  filter: brightness(0.8); 
} */

/* section {
  width: 100%;

  max-width: 100vh;
  margin: 0 auto;
} */

/* .img-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.4;
  background: rgb(36, 36, 36);
  background: linear-gradient(
    45deg,
    rgba(36, 36, 36, 1) 0%,
    rgba(59, 59, 59, 1) 50%,
    rgba(255, 255, 255, 1) 100%,
    rgba(255, 118, 0, 1) 100%
  );
} */

article {
  display: flex;
  flex-direction: column;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #3b3b3b; */
  min-height: 100vh;
  height: 72rem;
  display: flex;
  border: 1px solid white;
  font-size: 1.2rem;
  text-align: justify;
}

.section-header {
  margin-top: 4.8rem;
}

.section-1 {
  position: relative;
  z-index: -1;
}

.section-1::before {
  background-position-x: -28rem;
  /* background-position-y: -12rem; */
  background-image: url(section-1.jpg);
  background-repeat: no-repeat;
  filter: blur(4px);
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background-size: cover;
}

.section-2 {
  background-size: cover;
  z-index: -1;
}

.section-2::before {
  background-position-x: -54rem;
  background-position-y: 0rem;
  background-image: url(section-2.jpg);
  filter: blur(2px);
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background-size: cover;
}

.section-3 {
  z-index: -1;
  background-size: cover;
}

.section-3::before {
  /* background-position-x: -44rem; */
  background-position-x: -20rem;
  background-position-y: 0rem;
  background-image: url(section-3.jpg);
  filter: blur(1px);
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
}

.section-header {
  font-size: 2.4rem;
  color: #ffc69e;
  text-transform: uppercase;
  margin-bottom: 0.8em;
}

@media (min-width: 600px) {
  section {
    background-position-x: 0rem;
    background-position-y: 0rem;
  }

  .section-1::before {
    background-position-x: 0;
    background-position-y: 0;
  }

  .section-2::before {
    background-position-x: 0;
    background-position-y: -20rem;
  }

  .section-3::before {
    background-position-x: 0;
    background-position-y: -72rem;
  }

  .section-header {
    margin-top: 6.4rem;
  }

  .menu-btns {
    display: flex;
    gap: 3.2em;
    margin: 1.2em;
  }

  .nav__link {
    display: inline-block;
    font-size: 1.4rem;
    width: 8.4rem;
    text-align: center;
    padding: 0.2em 0.4em;
    /* background-color: var(--clr-bg-dark); */
    text-decoration: none;
    /* color: var(--clr-accent); */
    border: 1px solid white;
    color: var(--clr-text);
    text-transform: capitalize;
  }
}

/*                     */
/*        BORDER       */
/*                     */
/*                     */

.row {
  margin-right: 0;
  margin-left: 0;
}

.social-row {
  display: flex;
  flex-direction: column;
  right: 0;
  position: absolute;
}

@media (min-width: 768px) {
  .social-row {
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.social-row a {
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1em 0;
  z-index: 99;
  margin-bottom: 1em;
  margin-right: 1em;
}

@media (min-width: 768px) {
  .social-row a {
    width: 2.5em;
    height: 2.5em;
    padding: 1em 0;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .social-row a {
    width: 3em;
    height: 3em;
    padding: 0;
  }
}

.countach {
  font-family: countach, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tilda-petite {
  font-family: tilda-petite, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: montserrat, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.skintone-text {
  color: var(--skintone-color);
}

.dark-text {
  color: var(--dark-color);
}

.white-text {
  color: #fff;
}

a:hover {
  color: #c2c2c2;
}

.dark-background {
  background: var(--dark-color);
}

.logo {
  width: 20vh;
}

@media (min-width: 768px) {
  .logo {
    width: 16em;
  }
}

.inner-border {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.inner-border {
  position: relative;
  border: 2px solid #de9b72;
  height: 100%;
  width: 100%;
  margin: auto;
}

/* Decorations */
.corner-decoration {
  position: absolute;
  width: 3em;
  margin: -3px;
}

@media (min-width: 768px) {
  .corner-decoration {
    width: 3.5em;
    margin: -4px;
  }
}

@media (min-width: 992px) {
  .corner-decoration {
    width: 4em;
    margin: -5px;
  }
}

@media (min-width: 1200px) {
  .corner-decoration {
    width: 5em;
    margin: -6px;
  }
}

.corner-decoration.corner-left-top {
  left: 0;
  top: 0;
}

.corner-decoration.corner-right-top {
  top: 0;
  right: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.corner-decoration.corner-right-bottom {
  right: 0;
  bottom: 0;
  -webkit-transform: scale(-1);
  transform: scale(-1);
}

.corner-decoration.corner-left-bottom {
  left: 0;
  bottom: 0;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.vertical-decoration {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 11em;
}

@media (min-width: 768px) {
  .vertical-decoration {
    width: 16em;
  }
}

@media (min-width: 992px) {
  .vertical-decoration {
    width: 20em;
  }
}

@media (min-width: 1200px) {
  .vertical-decoration {
    width: 27em;
  }
}

.vertical-decoration.top {
  top: 0;
}

.vertical-decoration.bottom {
  bottom: 0;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}
